html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
#mainheader{
    background-image: url('/img/theprincessbridelogo.jpg');
}
body {
    background-color: rgb(240, 238, 140);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

/*navigation menu*/
nav {
    overflow: hidden;
    padding-bottom: 20px;
    position: fixed;
    
}

nav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    padding: 10px;
    background-color: black;
}

.mainMenu {
    display: none;
}

.mainMenu.hamburger {
    display: block;

} 

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}
textarea{
    color: gray;
}
.header {
    font-family: 'Griffy', cursive;
    font-size: 45px;
    font-weight: bolder;
    text-decoration: underline;
}

p {
    font-size: 30px;
}

#pblogo {
    border-radius: 30%;
    margin-top: 60px;
}

.btn {
    background-color: burlywood;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border: 1px soild black;
    display: inline-block;
    font-size: 20px;
}

.five{
    margin: 2.5px;
}

#question {
    font-size: 30px;
    text-align: center;
}
.box {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    text-align: center;
}
.contact {
    font-size: 30px;
}

/*media query medium */
@media only screen and (min-width: 628px) {    
    .mainMenu {
        display: initial;
    }
    #toggle-bar {
        display: none;
    }
    nav{
        width: 100%;
    }
}
/* end media query med screen */


/*media query large */
@media only screen and (min-width: 1024px) {

}
/*end media query large screen */

